@import '~@scss/mixins';
@import '~@scss/variables';

.auth-form__submit-btn {
  @include button-primary();

  width: 16rem;
}

.auth-form__google-btn {
  @include button-primary();

  width: 20rem;
  background-color: $col-accent;
}
