@import './variables';
@import './mixins';
@import '../../static/fonts/index.css';
@import '../../node_modules/@mdi/font/css/materialdesignicons.min.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }
}

body,
input,
select,
button,
textarea {
  background: $col-app-background;
  color: $col-primary;
  font-family: 'Circular', 'Noto Sans', '-apple-system', 'BlinkMacSystemFont', sans-serif;
  font-weight: 400;
  letter-spacing: 0.005rem;
}

textarea,
button,
select,
input,
body,
span,
p {
  font-size: 1.4rem;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

input,
textarea {
  width: 100%;
}

html {
  font-size: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;

  .app__page-content-wrp {
    flex: 1;
    width: 100%;
    max-width: 46rem;
    margin: 0 auto;
  }

  & ul, li {
    list-style-type: none;
  }
}

.app__button {
  @include button();
}

.app__button-primary {
  @include button-primary();

  &--success { background-color: $col-success }
  &--error { background-color: $col-error }
  &--danger { background-color: $col-danger }
  &--info { background-color: $col-info }
  &--warning { background-color: $col-warning }
}

.app__button-secondary {
  @include button-secondary();
}

.app__fill {
  width: 100%;
  height: 100%;
}
