$sidebar-hide-bp: 768px;
$status-message-reposition-bp: 470px;

$sidebar-width: 27.5rem;

$content-padding-top: 3.7rem;
$content-padding-bottom: 2.5rem;
$content-padding-left: 5rem;
$content-padding-right: 6.5rem;
$content-side-paddings-sm: 2rem;

$_white: #ffffff;
$_black: #000000;
$_lightgray: #ebebeb;
$_lightRed: #ef5350;
$_darkRed: #d6244a;
$_blue: #4ea8f1;
$_green: #33a494;
$_lightGreen: #51ca90;
$_orange: #ef6c00;
$_orangePeel: #ffa333;

// global colors
$col-app-background: $_lightgray;
$col-block-bg: $_white;
$col-primary: $_black;
$col-accent: red;

$col-text: $col-primary;
$col-text-inverse: $_white;

$col-block-bg: $_white;
$col-sidebar-background: lightgray;
$col-sidebar-text: $col-primary;
$col-sidebar-active-bg: rgb(230, 230, 230);

// status colors:
$col-accent: $_lightRed;
$col-pending: $_orange;
$col-warning: $_orangePeel;
$col-success: $_green;
$col-error: $_lightRed;
$col-info: $_blue;
$col-danger: $_darkRed;

// button colors:
$col-button-primary: $col-primary;
$col-button-primary-txt: $col-text-inverse;

$col-button-secondary-hover: lightgray;
$col-button-secondary-txt: $col-text;
$col-button-secondary-txt-inactive: gray;
$col-button-secondary-disabled-txt: lightgray;

// status message colors
$col-status-msg-warning: $col-warning;
$col-status-msg-success: #3cab00;
$col-status-msg-error: $col-error;
$col-status-msg-info: $col-info;
$col-status-msg-text: $col-text-inverse;
$col-status-close-btn-hover: rgba(0, 0, 0, 0.1);
